<!DOCTYPE html>
<html lang="en">
<head>
	<title>Informatics College</title>
	<meta charset="utf-8">

 <link rel="stylesheet" type="text/css" href="style.css">
<script src="javascript/js.js"></script>
<script src="javascript/validatename.js"></script>

</head>
<body class="body">
<header class="mainheader">
<nav>
    <ul>
      <li><a href="trainandplace.html">Training and Placement</a></li>
    </ul> 
  </nav>
</header>

<h1>Training and Placement</h1>
<h3>Company Info</h3>
<h4>Informatics College Pokhara<br>
Lions Building, Lions Marga</h4>
Pokhara-12, Kaski, Nepal
<pre>
Phone : +977 61 538115<br>
Email :  info@icp.edu.np<br>
Facebook : http://facebook.com/informaticscollegepkr<br>
</pre>


<!DOCTYPE html>
<html>
<body>

<br>
<br>
<center>
<strong>Register Here:</strong></center>
<form>  
  
  <label> Firstname </label>         
  <input type="text" name="firstname" size="15"/> 
  <br>  
  <label> Middlename: </label>     
  <input type="text" name="middlename" size="15"/> <br>   
  <label> Lastname: </label>         
  <input type="text" name="lastname" size="15"/> <br>  
  <label>   
  Course :  
  </label>   
  <select>  
  <option value="Course">Course</option>  
  <option value="BCA">BCA</option>  
  <option value="BBA">BBA</option>  
  <option value="B.Tech">B.Tech</option>  
  <option value="MBA">MBA</option>  
  <option value="MCA">MCA</option>  
  <option value="M.Tech">M.Tech</option>  
  </select>  
    
  <br>   
  <label>   
  Gender :  
  </label><br>  
  <input type="radio" name="male"/> Male <br>  
  <input type="radio" name="female"/> Female <br>  
  <input type="radio" name="other"/> Other  
  <br>  
    
  <label>   
  Phone :  
  </label>  
  <input type="text" name="country code"  value="+91" size="2"/>   
  <input type="text" name="phone" size="10"/> <br> 
  Address  
  <br>  
  <textarea cols="80"value="address">  
  </textarea>  
  <br>  
  Email:  
  <input type="email" id="email" name="email"/> <br>    
  <br>  
  Password:  
  <input type="Password" id="pass" name="pass"> 
  <br>   
 
  Re-type password:  
  <input type="Password" id="repass" name="repass"> <br> 
  <input type="button" value="Submit"/>  
  </form>  
<script>
function myFunction() {
    var x, text;

    // Get the value of the input field with id="numb"
    x = document.getElementById("numb").value;

    // If x is Not a Number or less than one or greater than 10
    if (isNaN(x) || x < 1 || x > 1000) {
        text = "Input not valid";
    } else {
        text = "Input OK";
    }
    document.getElementById("demo").innerHTML = text;
}
</script>

</body>
</html> 
<script type="text/javascript">
  document.title="Training and Placement";
</script>
</body>

</html>